extends layout

block content
  nav.nav
    .brand Finn
    ul.nav-right
      li.nav-item
        a(href='#') 主页
      li.nav-item
        a(href='#') 联系我
  .container
    .right
      .right-div.self-information
        img.avatar(src='../images/avatar.jpg', alt='头像')
        ul.contact-list
          li
            a.weibo-link(href='http://weibo.com/u/2082859582/', target='_blank')
              img(src='../images/weibo.svg', alt='weibo')
              | @57Finn
          li
            a
              img(src='../images/wechat.svg', alt='wechat')
              | q879788904
      .right-div.tag-list
        ul
          li
            a(href='#') JavaScript(20)
          li
            a(href='#') Python(0)
      .right-div.search-bar
        input(type='text', name='search', value='', placeholder='搜索')
    .article-list
      article.article
        h1
          a(href='#') 测试文章标题
        p
          | 文章内容blablablabla文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl
        p 文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl
        hr
        p.article-date 2017-03-09 星期四 12:00
      article.article
        h1
          a(href='#') 测试文章标题
        p
          | 文章内容blablablabla文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl文章内容blablablabl
        hr
        p.article-date 2017-03-09 星期四 12:00
